USE [colegio]
GO
/****** Object:  StoredProcedure [dbo].[PRC_ALUMNO_DELETE]    Script Date: 30/3/2018 02:16:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PRC_ALUMNO_DELETE]
(
	@ALUMNO_ID INT
)
AS
BEGIN
	DELETE FROM alumno 
	WHERE ALUMNO_ID = @ALUMNO_ID
END

GO
/****** Object:  StoredProcedure [dbo].[PRC_ALUMNO_INSERT]    Script Date: 30/3/2018 02:16:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRC_ALUMNO_INSERT]
(
	@TIPO_ESTUDIANTE_ID INT,
	@ALUMNO_NOMBRE VARCHAR(50),
	@ALUMNO_APATERNO VARCHAR(50),
	@ALUMNO_AMATERNO VARCHAR(50)
)
AS
BEGIN
	INSERT INTO alumno ( TIPO_ESTUDIANTE_ID
					   , ALUMNO_NOMBRE
					   , ALUMNO_APATERNO
					   , ALUMNO_AMATERNO
					   )
				VALUES ( @TIPO_ESTUDIANTE_ID
					   , @ALUMNO_NOMBRE
					   , @ALUMNO_APATERNO
					   , @ALUMNO_AMATERNO
					   )
END

GO
/****** Object:  StoredProcedure [dbo].[PRC_ALUMNO_SELECT]    Script Date: 30/3/2018 02:16:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRC_ALUMNO_SELECT]
AS
BEGIN
	SELECT a.ALUMNO_ID
	,	   a.TIPO_ESTUDIANTE_ID
	,	   t.TIPO_ESTUDIANTE	
	,	   a.ALUMNO_NOMBRE
	,      a.ALUMNO_APATERNO
	,      a.ALUMNO_AMATERNO
	,	   a.TIMESTAMP
	FROM alumno a JOIN tipo_estudiante t ON a.TIPO_ESTUDIANTE_ID = t.TIPO_ESTUDIANTE_ID
END

GO
/****** Object:  StoredProcedure [dbo].[PRC_ALUMNO_UPDATE]    Script Date: 30/3/2018 02:16:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PRC_ALUMNO_UPDATE]
(
	@ALUMNO_ID INT,
	@ALUMNO_NOMBRE VARCHAR(50),
	@ALUMNO_APATERNO VARCHAR(50),
	@ALUMNO_AMATERNO VARCHAR(50),
	@TIPO_ESTUDIANTE_ID INT
)
AS
BEGIN
	UPDATE alumno
	SET ALUMNO_NOMBRE = @ALUMNO_NOMBRE
	,	ALUMNO_APATERNO = @ALUMNO_APATERNO
	,	ALUMNO_AMATERNO = @ALUMNO_AMATERNO
	,	TIPO_ESTUDIANTE_ID =@TIPO_ESTUDIANTE_ID
	WHERE ALUMNO_ID = @ALUMNO_ID
END

GO
/****** Object:  StoredProcedure [dbo].[PRC_TIPO_ESTUDIANTE_DELETE]    Script Date: 30/3/2018 02:16:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRC_TIPO_ESTUDIANTE_DELETE]
(
	@TIPO_ESTUDIANTE_ID INT
)
AS
BEGIN
	DELETE FROM tipo_estudiante 
	WHERE TIPO_ESTUDIANTE_ID = @TIPO_ESTUDIANTE_ID
END
GO
/****** Object:  StoredProcedure [dbo].[PRC_TIPO_ESTUDIANTE_INSERT]    Script Date: 30/3/2018 02:16:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRC_TIPO_ESTUDIANTE_INSERT]
(
	@TIPO_ESTUDIANTE VARCHAR(50)
)
AS 
BEGIN
	INSERT INTO tipo_estudiante ( TIPO_ESTUDIANTE) 
						VALUES  ( @TIPO_ESTUDIANTE)
END
GO
/****** Object:  StoredProcedure [dbo].[PRC_TIPO_ESTUDIANTE_SELECT]    Script Date: 30/3/2018 02:16:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRC_TIPO_ESTUDIANTE_SELECT]
AS
BEGIN
	SELECT TIPO_ESTUDIANTE_ID
	,	   TIPO_ESTUDIANTE
	FROM tipo_estudiante
END
GO
/****** Object:  StoredProcedure [dbo].[PRC_TIPO_ESTUDIANTE_UPDATE]    Script Date: 30/3/2018 02:16:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRC_TIPO_ESTUDIANTE_UPDATE]
(
	@TIPO_ESTUDIANTE_ID INT,
	@TIPO_ESTUDIANTE VARCHAR(50)
)
AS
BEGIN
	UPDATE tipo_estudiante
	SET TIPO_ESTUDIANTE = @TIPO_ESTUDIANTE
	WHERE TIPO_ESTUDIANTE_ID = @TIPO_ESTUDIANTE_ID
END
GO
/****** Object:  Table [dbo].[alumno]    Script Date: 30/3/2018 02:16:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[alumno](
	[ALUMNO_ID] [int] IDENTITY(1,1) NOT NULL,
	[TIPO_ESTUDIANTE_ID] [int] NOT NULL,
	[ALUMNO_NOMBRE] [varchar](50) NULL,
	[ALUMNO_APATERNO] [varchar](50) NULL,
	[ALUMNO_AMATERNO] [varchar](50) NULL,
	[TIMESTAMP] [timestamp] NULL,
 CONSTRAINT [PK1] PRIMARY KEY NONCLUSTERED 
(
	[ALUMNO_ID] ASC,
	[TIPO_ESTUDIANTE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tipo_estudiante]    Script Date: 30/3/2018 02:16:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tipo_estudiante](
	[TIPO_ESTUDIANTE_ID] [int] IDENTITY(1,1) NOT NULL,
	[TIPO_ESTUDIANTE] [varchar](50) NOT NULL,
 CONSTRAINT [PK2] PRIMARY KEY NONCLUSTERED 
(
	[TIPO_ESTUDIANTE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[alumno]  WITH CHECK ADD  CONSTRAINT [Reftipo_estudiante1] FOREIGN KEY([TIPO_ESTUDIANTE_ID])
REFERENCES [dbo].[tipo_estudiante] ([TIPO_ESTUDIANTE_ID])
GO
ALTER TABLE [dbo].[alumno] CHECK CONSTRAINT [Reftipo_estudiante1]
GO
